# Default ignored files
/shelf/
/workspace.xml
.idea/
build/
.gradle/

cmake-build-*/

*.iws

out/

.idea_modules/

atlassian-ide-plugin.xml

.idea/sonarlint/

com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

